/* .notranslate .public-DraftEditor-content { */
.public-DraftEditor-content {
    max-height: 700px;
    width: 65%;
}

.editWrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.editBtnsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
}

/* ------- Text editor css ------  */
.rdw-editor-toolbar {
    border: 1px solid #fbb02e;
}

.rdw-editor-main {
    border: 1px solid #fbb02e;
    padding: 1em 2em;
}