/*---------------
	Navigation
---------------*/
header {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background: #F2F2F2;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    padding-right: 36px;
}

nav ul li {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-content: center;
}

nav ul li a {
    text-decoration: none;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 49px;
    color: #ff5757;
    display: flex;
    align-content: center;
    margin: 0px 16px 0px 16px;
}

nav ul li a:hover {
    color: #ff5757;
    text-shadow: 0px 0px 15px #fbb02e;
}

nav img {
    height: 100px;
    margin: 10px 0px 10px 32px;
}

nav.wrapper {
    width: 1580px;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
}


@media (min-width: 1896px) {
    header {
        width: 100%;
        /* margin-top: 40px; */
    }

    nav img {
        height: 60px;
    }

    nav.wrapper {
        margin: 0px;
        width: 92%;
    }
}

@media (max-width: 1000px) {
    nav.wrapper {
        flex-direction: column;
    }

    nav img {
        margin: 10px 0px;
    }

    nav ul {
        display: none;
        padding-right: 0px;
        flex-direction: column;
    }

    nav:hover #navUL {
        display: block;
    }

    nav ul li a {
        margin: 0px 8px;
        font-size: 24px;
    }
}

@media (max-width: 680px) {
    nav ul li a {
        font-size: 20px;
        line-height: 36px;
    }
}