/*---------------
    General
---------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main,
#root {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    overflow-x: hidden;
}

#contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;

    font-size: 20px;
}

.wrapper {
    max-width: 1896px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

h1 {
    text-align: center;
}

h2 {
    padding-bottom: 1em;
    text-align: center;
}

button {
    font-size: 20px;
    padding: 0.2em 0.8em;
    border-radius: 0.3em;
    border: none;
}

button:hover {
    cursor: pointer;
}

button.btn1 {
    border: 0.2em #fbb02e;
    font-weight: bold;
    background-color: #fbb02e;
    color: #597ebe;
}

button.btn1:hover {
    border: 0.2em #fbb02e;
    background-color: #597ebe;
    color: #fbb02e;
    box-shadow: 0px 0px 5px #fbb02e;
}


button.btn2 {
    border: 0.2em #ff5757;
    font-weight: bold;
    background-color: #ff5757;
    color: #0097b2;
    /* text-shadow: 1px 1px 0#fbb02e; */
}

button.btn2:hover {
    border-color: #0097b2;
    background-color: #0097b2;
    color: #fbb02e;
    box-shadow: 0px 0px 5px #0097b2;
}

/* Forms */
form {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    gap: 0.5em;
}

form label,
form legend {
    margin-top: 0.5em;
    font-weight: bold;
    color: #597ebe;
}

form fieldset,
form input,
form select,
form textarea {
    font-size: 1em;
    border-radius: 0.5em;
    padding: 0.5em 0.7em;
    border: 1px solid #fbb02e;
    outline: none;
    color: #0097b2;
}

form textarea {
    height: 10em;
    border: 1px solid #fbb02e;
    font-size: 1em;
    color: #0097b2;
}

form fieldset:focus,
form input:focus,
form select:focus,
form textarea:focus {
    border: 1px solid #0097b2;
}

form fieldset div {
    padding-bottom: 0.8em;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #ff5757;
}

form button.submitBtn {
    margin-top: 1.5em;
    border-radius: 10px;
}

.requiredStart {
    color: #ff5757;
}

.errP {
    color: #ff5757;
    margin: 0;
}

@media (min-width: 1896px) {
    #contentWrapper {
        min-height: 90vh;
    }
}


@media (max-width: 1000px) {
    #contentWrapper {
        font-size: 24px;
    }

    form {
        width: 100%;
        font-size: 24px;
    }

    form fieldset div {
        padding-bottom: 0.8em;
    }
}

@media (max-width: 680px) {
    .wrapper {
        padding: 2em 1em;
    }
}